#banner {
  background-color: #262626;
}
#text {
  color: white;
}

#card {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap: 12px;
}

#card::-webkit-scrollbar {
  display: none;
}
