#text {
  color: white;
}
#card {
  background-color: #262626;
  cursor: pointer;
}
#card:hover {
  transform: scale(1.09);
  transition: ease-in;
  transition-duration: 0.5s;
}

#p {
  color: lightgrey;
  font-size: x-small;
}

#span {
  color: white;
  font-family: Arial;
  font-size: 12px;
}
